#imsiSummaryTableOne, 
#imsiSummaryTable,
#imsiTopSummaryTable, 
#errorAlertOnSummaryFormNE,
#errorAlertOnSummaryForm,
#combinationsTable,
#errorAlertOnTopCombinationsForm,
#phoneFailuresTableNE,
#networkEngQueryTwo, 
#networkEngQueryThree, 
#networkEngQueryFour,
#top10ComboChartCard,
#top10IMSIChartCard,
#imsiSummaryFormResultChartCard,
#imsiFailuresCountQuery,
#supportEngQueryOne,
#supportEngQueryTwo,
#phoneFailuresTable,
#top10ComboChartCard,
#userEquipmentFailuresChartCard{
    display:none;
}

#userEquipmentFailuresChartCard .chart-bar{
    height:40rem !important;
}


.userEquipmentFailuresChartCardPhoneDetails .form-control{
    border: 1px solid transparent !important;
    color: #2b2b2b;
}

.userEquipmentFailuresChartCardPhoneDetails{
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaf1 !important;
}